/* ::::: SETTING ::::: */

dialog#mcSettingWindow {
	width: 500px;
	height: 500px;
}

tab {
	min-width: 80px;
	text-align: center;
}

tabpanel > vbox {
	padding-top: 6px;
	padding-bottom: 6px;
}

tabpanel > checkbox {
	margin-top:    5px;
	margin-bottom: 5px;
}

groupbox {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.notice { color: red; }

.indent { margin-left: 30px; }

#sbPrefDataAlert {
	margin: 10px 10px 0px 10px;
}


/* ::::: CUSTOMIZE HIGHLIGHTER ::::: */

colorpicker[disabled="true"] {
	visibility: hidden;
}

dialog#hlCustomizeDialog groupbox > hbox {
	margin-bottom: 5px;
}


.iconsize {
  list-style-image: url("chrome://markingcollection/skin/firefox.png");
  height : 16px;
  width  : 16px;
  max-height : 16px;
  max-width  : 16px;
  margin-left   : 32px;
  margin-right  : 32px;
  margin-top    : 8px;
  margin-bottom : 8px;
}
.iconsize[iconsize="large"] {
  list-style-image: url("chrome://markingcollection/skin/firefox_32.png");
  height : 32px;
  width  : 32px;
  max-height : 32px;
  max-width  : 32px;
  margin-left   : 24px;
  margin-right  : 24px;
  margin-top    : 0px;
  margin-bottom : 0px;
}

.search-go-button {
  padding: 2px;
  list-style-image: url("chrome://markingcollection/skin/Search-glass.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.search-go-button[chromedir="rtl"] {
  list-style-image: url("chrome://markingcollection/skin/Search-glass-rtl.png");
}

.search-go-button:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

.search-go-button:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

treechildren::-moz-tree-checkbox(checked){
  list-style-image: url("chrome://markingcollection/skin/cbox-check.gif");
}
treechildren::-moz-tree-cell-text{
  font-size: 0.9em;
}
treechildren::-moz-tree-row(delete){
  background-color: #ffe5e5;
}
treechildren::-moz-tree-row(delete,selected){
  background-color: #ffb2b2;
}
treechildren::-moz-tree-row(exception){
  background-color: #f9dbb3;
}
treechildren::-moz-tree-row(exception,selected){
  background-color: #f9c686;
}
